* {
margin: 0p;/*когда у боди прописан margin: 0pх, здесь можно не писать и наоборот*/
padding: 0p;/*когда у боди прописан margin: 0pх, здесь можно не писать и наоборот*/
}

::-webkit-scrollbar {
  width : 0.1px; 
  height: 5px;
  pacity: 0.02;
} /* УБРАЛ ПОЛОСУ ПРОКРУТКИ С ЭКРАНА и сделал свою. 
Когда пишу сайт, чтобы на планшете отображалось содержимое от края до края страницы 
без зазоров, прокрутку можно отключить. И включить для красоты по готовности сайта.*/

::-webkit-scrollbar-button {height: 50px; background :#42e10e; }  /*2 - кнопка*/  

::-webkit-scrollbar-track {background: #274dd7; }  /*3 - трек */ 

::-webkit-scrollbar-track-piece { background: #e91e63;}  /*4 - видимая часть трека */ 

::-webkit-scrollbar-thumb {background: #fbe100; border-radius: 10px;
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); /*inset 1 3 13px rgb(207 10 10 / 64%)*/} /*5 - ползунок */ 

/*настраивает полосу прокрутки с помощью вэбкит. С этими еще не разобрался*/

/*::-webkit-scrollbar{ width: 22px; } /*1 - вертикальный скроллбар*/

/*::-webkit-scrollbar:horizontal{ height: 22px;  }  /*1 - горизонтальный скроллбар*/

/*::-webkit-scrollbar-button {background :#e50845; }  /*2 - кнопка*/  

/*::-webkit-scrollbar-track {background: #008000; }  /*3 - трек */ 

/*::-webkit-scrollbar-track-piece { background: #32CD32;}  /*4 - видимая часть трека */ 

/*::-webkit-scrollbar-thumb {background: #322e76; border-radius: 10px;
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); } /*5 - ползунок */ 

/*::-webkit-scrollbar-corner {: #32CD32; }  6 - уголок */

/*::-webkit-resizer { : #32CD32; } 7 - изменение размеров*/ 

html {
width: 1280px;
}

body {
width: 1280px;
margin: 0px;
padding: 0px;
box-sizing: border-box;
background-color: black;
}

.filterImg {
width: 1280p;
height: 3858p;	
argin: 0 auto;	
ilter: brightness(0.9);
webkit-filter: grayscale(100%) contrast(150%) opacity(0.3); /*эффекты можно комбинировать*/   
}

.img {
width: 1280px;
height: 3858px;	
}

@media screen and (max-width: 1300px) {}
